{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section class="gh-container is-{{#match postFeedStyle "List"}}list{{else}}grid{{/match}}{{#if showSidebar}} has-sidebar{{/if}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}} gh-outer">
    <div class="gh-container-inner gh-inner">
        
        {{#if showTitle}}
            <h2 class="gh-container-title">
                {{#unless title}}Mais recentes{{else}}{{title}}{{/unless}}
            </h2>
        {{/if}}

        <main class="gh-main">
            <div class="gh-feed">

                {{!-- Homepage --}}
                {{#match feed "home"}}
                   {{#if @custom.show_featured_posts}}
                            {{#match posts.length ">=" 4}}
                                {{#get "posts" include="authors" limit="7"}}
                                    {{#foreach posts from="5"}}
                                        {{> "post-card" lazyLoad=true}}
                                    {{/foreach}}
                                {{/get}}
                            {{/match}}
                    {{else}}
                            {{#match posts.length ">=" 10}}
                                {{#get "posts" include="authors" limit="3"}}
                                    {{#foreach posts}}
                                        {{> "post-card" lazyLoad=true}}
                                    {{/foreach}}
                                {{/get}}
                            {{/match}}
                    {{/if}}
                {{/match}}

                {{!-- All posts --}}
                {{#match feed "index"}}
                    {{#match pagination.page 2}}
                        {{#get "posts" order="title asc" include="authors" limit=@config.posts_per_page as |recent|}}
                            {{#foreach recent}}
                                {{> "post-card"}}
                            {{/foreach}}
                        {{/get}}
                    {{/match}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

                {{!-- Tag and author pages --}}
                {{#match feed "archive"}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}
            </div>

            {{#match pagination.pages ">" 1}}
                <div class="gh-more is-title">
                    <a href="{{@site.url}}/page/2">Ver tudo {{> "icons/arrow"}}</a>
                </div>
            {{/match}}
        </main>

    </div>
</section>